<h2 class="heading">Жижка клубничная</h2>
<p class="description">Самое детальное и цельное описание супер рецепта
  по приготовлению мощного борща, а также закусок к нему</p>
<p>Набор различных органических ништяков, собранных веганами-вейперами из земли не
  содержащей удобрений с любовью упакованные в крафтовые, дизайнерские пакеты с разнообразной брендовой
  маркировкой</p>
<div class="btn-group btn-outline-primary btn-sm">
  <button type="submit" class="btn">редактировать</button>
  <button type="submit" class="btn">удалить</button>
</div>
