<div class="support-warning">
  This demo requires CSS Grid. The current browser you're using doesn't support it and is using a Flexbox fallback. Find a <a href="https://igalia.github.io/css-grid-layout/enable.html">grid-enabled browser</a>.
</div>

<div class="l-grid l-grid--half-half l-grid--gutter-large l-full-height">
  <div class="l-grid__item l-grid l-grid--gutter-large l-center-center first-panel">
    <div class="content">
      <h2 class="heading">Рецепты</h2>
      <app-recipe-list
      (addMode)="onAdd($event)"></app-recipe-list>
    </div>

  </div>
  <div class="l-grid__item l-grid l-center-center second-panel">
    <div class="content">
      <app-recipe-detail
        *ngIf="selectedRecipe && !selectedMode"
      [recipe]="selectedRecipe"
      (editMode)="onEdit($event)"></app-recipe-detail>

      <app-recipe-edit *ngIf="selectedMode === 'add'"
      [modeSelected]="selectedMode"></app-recipe-edit>

      <app-recipe-edit *ngIf="selectedMode === 'edit'"
      [modeSelected]="selectedMode"></app-recipe-edit>

    </div>
  </div>
</div>
