/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.support-warning {
  background: #ccb11c;
  color: #000;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  opacity: 0.95;
  padding: 3rem;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.support-warning a {
  color: inherit;
}

body {
  background: #111;
  padding: 1rem;
}

.l-grid {
  display: flex;
}

.l-grid--half-half > .l-grid__item {
  flex: 1 1 auto;
}

.l-grid--gutter-large {
  margin-left: -1rem;
}

.l-grid--gutter-large > .l-grid__item {
  margin-left: 1rem;
}


@supports(display: grid) {
  .support-warning {
    display: none;
  }

  /* Only the display: grid part needs a feature query */
  .l-grid {
    display: grid;
  }

  /* Reset the margins since we no longer need them */
  .l-grid--gutter-large {
    margin: initial;
  }

  .l-grid--gutter-large > .l-grid__item {
    margin: initial;
  }
}

/* Declares two columns 1 fraction each */
.l-grid--half-half {
  grid-template-columns: 1fr 1fr;
}

/* Declares a gutter of 1rem between grid items */
.l-grid--gutter-large {
  grid-gap: 1rem;
}

/* Center the content */
.l-center-center {
  align-items: center;
  justify-content: center;
}

.l-full-height {
  min-height: 100vh;
}

.first-panel {
  background: #4dab6b;
  color: #fff;
}

.second-panel {
  background: #fff;
  color: #111;
}

.content {
  max-width: 400px;
}

.heading {
  /*font-family: 'Playfair Display', serif;*/
  /*font-weight: 700;*/
  /*font-size: 2.5rem;*/
  /*line-height: 1.2;*/
  /*margin-bottom: 1rem;*/
  display: grid;
  align-items: center;
  justify-content: center;
}

.description {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-weight: 400;*/
  /*font-size: 0.9rem;*/
  /*line-height: 1.5;*/
}
